@{
    ViewData["Title"] = "Home Controller Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DotnetCore Training</h1>
    <h3>@ViewBag.Message</h3>
    <p>@ViewData["Title"]</p>
    <p>@ViewData["Today"]</p>
   
</div>
