@model CMSMVCApp.Models.Product

<h1>Create Product</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="ProName">ProductName</label>
        <input asp-for="ProName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit">Create</button>

</form>