@model CMSMVCApp.Models.Product

<h1>Product Details</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ProdId</td>
            <td>@Model.ProName</td>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>
